{{template "header.html" .}}
    {{if .account_list}}
    {{range .account_list}}
    <tr>
        <td align="left">{{.Id}}</td>
        <td align="left">{{.Name}}</td>
    </tr>
    {{end}}
    {{end}}
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>
<form action="/Account/Add" method="POST">
    {{with $field := field "accountName" .}}
    <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" /><br/>
    {{end}}
    <input type="submit" value="Say hello!" />
</form>
